* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ced4db;
    --welcome-text: #2e353a;
    --image-border: gray;
    --main-green: #698883;
    --main-green-border: #3f514e;
    --content-box: #75b5a9;
    --content-border: #36534d;
    --text-background-1: rgb(168, 206, 168);
    --text-background-2: rgb(226, 182, 100);
    --text-background-3: rgb(230, 159, 159);
}

.welcome-note {
    background-color: var(--text-background-1);
    background-image: linear-gradient(45deg, var(--text-background-1) 0%, var(--text-background-2) 52%, var(--text-background-3) 90%);
    color: var(--welcome-text);
    padding: 40px 40px;
    border-radius: 10px;
}

.welcome-note p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    font-weight: 600;
    line-height: 35px;
}

.img-border {
    border: 5px solid var(--image-border);
}

.bg-green {
    background-color: Var(--main-green);
    border: 1px solid var(--main-green-border);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.bg-blue {
    background-color: var(--content-box);
    border: 1px solid var(--content-border);
    padding: 20px;
    border-radius: 10px;
}

.comments {
    height: 170px;
}

.container {
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
}

header {
    margin-top: 30px;
}

.img-circle {
    border-radius: 50%;
}

.img-kitchen {
    max-width: 170px;
}

.social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.social-media img {
    width: 50px;
}


.btn {
    margin-right: 0px;
    align-self: center;
    margin:75px 0 0 0;
    padding: 20px 0;
    display:inline-block;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;    
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.btn-dark {
    background-color: var(--main-green);
    background-image: linear-gradient(45deg, var(--main-green) 10%, var(--main-green-border) 60%);
    transition: all .5s ease-out;
}

.btn-secondary {
     background-color: var(--main-green);
     background-image: linear-gradient(45deg, var(--main-green) 0%, var(--content-box) 52%);
     transition: all .5s ease-out;

}

.rating_stars {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #918f8f;
    position: relative;
}

.rating_stars span .fa, .rating_stars span.active-low .fa-star-o, .rating_stars span.active-high .fa-star-o{
	display: none;
}

.rating_stars span .fa-star-o{
	display: inline-block;
}

.rating_stars span.s.active-high .fa-star{
	display: inline-block; color: #feb645;
}

.rating_stars span.s.active-low .fa-star-half-o{
	display: inline-block; color: #feb645;
}

.rating_stars span.r {
	position: absolute;
	top: 5px;
	height: 20px;
	width: 10px;
	left: 0;
}

.rating_stars span.r.r0_5 {left:13px;}
.rating_stars span.r.r1 {left:23px; width: 11px;}
.rating_stars span.r.r1_5 {left:39px; width: 13px;}
.rating_stars span.r.r2 {left:50px; width: 12px;}
.rating_stars span.r.r2_5 {left:68px; width: 12px;}
.rating_stars span.r.r3 {left:79px; width: 11px;}
.rating_stars span.r.r3_5 {left:95px; width: 12px;}
.rating_stars span.r.r4 {left: 107px;; width: 12px;}
.rating_stars span.r.r4_5 {left:123px; width: 12px;}
.rating_stars span.r.r5 {left:135px; width: 12px;}

.values {
    display: none;
}

